/* General */
:root {
     --dark-color: #FAFAFA;
     --darker-color: #F0F0F0;
     --primary-color: #8C41C4;
     --secondary-color: #00FF7F;
     --text-color: black;
     --bg-color: white;
}

[data-theme="dark"] {
     --dark-color: #222222;
     --darker-color: #333333;
     --primary-color: #CC83FB;
     --secondary-color: #67ECFF;
     --text-color: white;
     --bg-color: #121212;
}

[data-theme="light"] {
     --dark-color: #FAFAFA;
     --darker-color: #F0F0F0;
     --primary-color: #8C41C4;
     --secondary-color: #00FF7F;
     --text-color: black;
     --bg-color: white;
}

html, body {
     background-color: var(--bg-color) !important;
     font-size: 13pt;
}

/* NAV BAR */
ul.nav li.active, ul.nav li.active a{
     background-color: var(--darker-color) !important;
}
.nav li a {
     font-size: 13pt;
     font-weight: 400;
}

.nav li a:hover {
     color: var(--primary-color);
}

.myNavBar {
     border: none !important;
}

.navbar {
     border: none;
     border-radius: none;
     margin-bottom: 0;
     background-color: var(--dark-color);
}

.navbar-right {
     padding-right: 30px;
}

.navbar-right li {
     padding: 0 10px;
}

.master-it-logo {
     height: 45px;
     padding: 5px 10px;
     margin: none;
}

h1 {
     font-size: 18pt !important;
     margin: 0;
}

h4 {
     color: green;
}

h1, h2, h3, h4, h5, h6, p {
     text-align: left;
     color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
     font-weight: 200;
}

.nav-tabs li.active a {
     color: var(--text-color);
     margin: 0;
}

a {
     color: var(--text-color);
}

a.active {
     color: var(--primary-color);
}